<!DOCTYPE html>
<html lang="en">
  <head>


  </head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <body>
	    
 <header><img src="./assets/imagenes/perros.png" width="100%" height="300"></header>
 <div id='main'>
    <article>



<form [formGroup]="form" (ngSubmit)="agregarMascota(form.value)" >
        Nombre:<br>
        <input type="text" formControlName="nombre" name="nombre">
        <br>
    
        Fecha Nacimiento:<br>
        <input type="date" formControlName="fecha_nac" name="fecha_nac">
        <br>
    
        Especie:<br>
        <input type="text" formControlName="especie" name="especie">
        <br>
    
        Raza:<br>
        <input type="text" formControlName="raza" name="raza">
        <br>
    
        Sexo:<br>
        <input type="text" formControlName="sexo" name="sexo">
        <br>
    
        Color:<br>
        <input type="text" formControlName="color" name="color">
        <br>
    
        Señas Particulares:<br>
        <input type="text" formControlName="senias_part" name="senias_part">
        <br>
        
       Veterinario:<br>
        <select name="idVeterinario" formControlName="idVeterinario">
            <option value=0 >Ninguno</option>
            <option value=1 >Altuna</option>
        </select>
        <br>
    
    
        <input type="submit" value="Submit">
      </form> 
    

    </article>
    <nav>
    <br>
    <button [routerLink]="['/duenio']" type="button" style="width: 150px;" class="btn btn-warning">Volver Home</button>
    <button [routerLink]="['/mascotas']" type="button" style="width: 150px;" class="btn btn-warning">Mis Mascotas</button>
    <br>
		<button [routerLink]="['/registrarmascota']" style=" width: 150px;" class="btn btn-warning">Alta Mascota</button>
		<br>
		<button type="button" style=" width: 150px;" class="btn btn-warning">Editar Perfil</button>
    
    </nav>

    <aside>
      <a href="#primero" style="color:white;">{{ nombre }}- Cerrar Sesion</a>
     
    </aside>

 </div>
 
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>















