
<form [formGroup]="form" (ngSubmit)="login(form.value)" >
  <label style="color:white;">Email </label> <br>
  <input type="email" formControlName="email" name="email">
  <br>
  <label style="color:white;">Password </label> <br>
  <input type="password" formControlName="password" name="password">
  <br>

  <label style="color:white;">Tipo</label> <br>
  <select name="tipo" formControlName="tipo">
      <option value="duenio">Duenio</option>
      <option value="veterinario" >Veterinario</option>
  </select>
  <br>
  <br>

  <input type="submit" value="Submit">
</form> 

