<!DOCTYPE html>
<html lang="en">
  <head>


  </head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.js"></script>


 
 <body>
	    
 <header><img src="./assets/imagenes/perros.png" width="100%" height="300"></header>
 <div id='main'>
  
<article>

          <div *ngIf="condicion" class="alert alert-danger alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
               El email ingresado ya existe!!!
          </div>

          <div *ngIf="vacio" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
             Hay Campos vacios
            </div>

            <div *ngIf="exito" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><
              <span aria-hidden="true">&times;</span></button>
               Registro existoso!!
           </div>

<div class="container-fluid">
  
<div class="row">  
<div class="col-lg-6" >
<div class="panel panel-primary" style="width:75%;margin-left:15%">
<div class="panel-heading">Registrar Dueño</div>
<form [formGroup]="form" (ngSubmit)="registrarDuenio(form.value)"  novalidate>
  Email:<br>
  <input type="email" formControlName="email" required name="email" >
  <br>
  Password:<br>
  <input type="password" formControlName="password" required name="password" >
  <br>
  Nombre:<br>
  <input type="text" formControlName="nombre" required name="nombre" >
  <br>
  Apellido<br>
  <input type="text" formControlName="apellido" required name="apellido" >
  <br>
  Telefono:<br>
  <input type="text" formControlName="telefono" required name="telefono" >
  <br>
  <br>
  <button type="submit" value="Submit" class="btn btn-primary" >Registrar</button>
</form> 
<br>
</div>
</div>

<div class="col-lg-6">
<div class="panel panel-primary" style="margin-left:10%;width:75%;">
<div class="panel-heading">Registrar Veterinario</div>

<form [formGroup]="form2" (ngSubmit)="registrarVeterinario(form2.value)" >
  Email:<br>
  <input type="email" formControlName="email2" name="email">
  <br>
  Password:<br>
  <input type="password" formControlName="password" name="password">
  <br>
  Nombre:<br>
  <input type="text" formControlName="nombre" name="nombre">
  <br>
  Apellido<br>
  <input type="text" formControlName="apellido" name="apellido">
  <br>
  Telefono:<br>
  <input type="text" formControlName="telefono" name="telefono">
  <br>
  Domicilio Clinica:<br>
  <input type="text" formControlName="domicilio_clinica" name="domicilio_clinica">
  <br>
  <br>
  <button type="submit" value="Submit" class="btn btn-primary">Registrar</button>
</form> 
<br>
</div>
</div>
</div>
</div>

</article>
    <nav>
      <br>
      <button [routerLink]="['/home']" type="button" style="width: 150px;" class="btn btn-warning">Volver Home</button>
      <br>
      <br>
      <button [routerLink]="['/registrarusuario']" type="button" style=" width: 150px;" class="btn btn-warning">Registrar Usuario</button>

    </nav>

    <aside>
      
      <app-login></app-login>
     
    </aside>

 </div>


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    

</body>
</html>



